.container {
    min-height: 101%;
}

.Setting,
.home {
    color: var(--bs-indigo) !important;
}

.Setting.active,
.home.active {
    border-color: var(--bs-indigo) !important;

}

.ui.segment {
    margin: 0;
    padding-top: 0;
}